# 문제 1: 판매 데이터 분석 및 고급 데이터 처리

### 데이터 설명:
매장에서 판매되는 상품의 판매 데이터를 포함하고 있습니다. 데이터는 상품 카테고리, 날짜, 매출, 판매 수량 등을 포함하며, 이를 통해 각 카테고리별 매출 비율 및 주중/주말별 판매 패턴을 분석해야 합니다.

### 요구사항:
1. 상품 카테고리별로 총 매출과 평균 매출을 계산하세요.
2. 날짜를 기준으로 주중/주말을 구분하고, 주중과 주말의 평균 매출 차이를 계산하세요.
3. 매출 데이터를 이용해 매출 비율(전체 매출에서 해당 상품의 비율)을 계산하여 새로운 컬럼에 추가하세요.
4. pivot_table을 사용하여 각 상품 카테고리와 주중/주말별 매출 합계를 구하세요.
5. 최종 분석 결과를 시각화하여 간단한 인사이트를 도출하세요.

In [1]:
# 데이터 생성 코드
"""
데이터 생성 코드드
"""

  Product_Category       Date  Sales  Quantity_Sold
0                C 2023-01-01   1190              6
1                D 2023-01-02   3300             82
2                A 2023-01-03   1980             69
3                C 2023-01-04   3975             47
4                C 2023-01-05   3006             25

### 풀이:

In [20]:
# 1. 상품 카테고리별로 총 매출과 평균 매출을 계산하세요.
"""
풀이 코드드
"""

  Product_Category         mean     sum
0                A  2981.909836  363793
1                B  2993.064815  323251
2                C  3119.762295  380611
3                D  3016.729730  446476

In [ ]:
# 2. 날짜를 기준으로 주중/주말을 구분하고, 주중과 주말의 평균 매출 차이를 계산하세요.
"""
풀이 코드
"""

In [ ]:
# 3. 매출 데이터를 이용해 매출 비율(전체 매출에서 해당 상품의 비율)을 계산하여 새로운 컬럼에 추가하세요.
"""
풀이 코드
"""

In [ ]:
# 4. pivot_table을 사용하여 각 상품 카테고리와 주중/주말별 매출 합계를 구하세요.
"""
풀이 코드
"""

In [ ]:
# 5. 최종 분석 결과를 시각화하여 간단한 인사이트를 도출하세요.
"""
풀이 코드
"""