# 문제 1: 판매 데이터 분석 및 고급 데이터 처리

### 데이터 설명:
매장에서 판매되는 상품의 판매 데이터를 포함하고 있습니다. 데이터는 상품 카테고리, 날짜, 매출, 판매 수량 등을 포함하며, 이를 통해 각 카테고리별 매출 비율 및 주중/주말별 판매 패턴을 분석해야 합니다.

### 요구사항:
1. 상품 카테고리별로 총 매출과 평균 매출을 계산하세요.
2. 날짜를 기준으로 주중/주말을 구분하고, 주중과 주말의 평균 매출 차이를 계산하세요.
3. 매출 데이터를 이용해 매출 비율(전체 매출에서 해당 상품의 비율)을 계산하여 새로운 컬럼에 추가하세요.
4. pivot_table을 사용하여 각 상품 카테고리와 주중/주말별 매출 합계를 구하세요.
5. 최종 분석 결과를 시각화하여 간단한 인사이트를 도출하세요.

In [1]:
# 데이터 생성 코드
import pandas as pd
import numpy as np
np.random.seed(42)
data = {
    'Product_Category': np.random.choice(['A', 'B', 'C', 'D'], size=500),
    'Date': pd.date_range(start='2023-01-01', periods=500),
    'Sales': np.random.randint(1000, 5000, size=500),
    'Quantity_Sold': np.random.randint(1, 100, size=500)
}
df = pd.DataFrame(data)
print(df.head())
print(df.shape)

  Product_Category       Date  Sales  Quantity_Sold
0                C 2023-01-01   1190              6
1                D 2023-01-02   3300             82
2                A 2023-01-03   1980             69
3                C 2023-01-04   3975             47
4                C 2023-01-05   3006             25
(500, 4)

### 풀이:

In [2]:
# 1. 상품 카테고리별로 총 매출과 평균 매출을 계산하세요.
category_sales = df.groupby('Product_Category')['Sales'].agg(['mean', 'sum']).reset_index()
category_sales

  Product_Category         mean     sum
0                A  2981.909836  363793
1                B  2993.064815  323251
2                C  3119.762295  380611
3                D  3016.729730  446476

In [3]:
# 2. 날짜를 기준으로 주중/주말을 구분하고, 주중과 주말의 평균 매출 차이를 계산하세요.
df['Date'] = pd.to_datetime(df['Date'])

df['weekday'] = df['Date'].dt.weekday
df['Is_Weekend'] = np.where(df['weekday'] >= 5, 'Weekend', 'Weekday')

weekend_sales = df.groupby('Is_Weekend')['Sales'].mean()
result = weekend_sales['Weekday'] - weekend_sales['Weekend']
print(result)

144.67362049714984

In [4]:
df.head()

  Product_Category       Date  Sales  Quantity_Sold  weekday Is_Weekend
0                C 2023-01-01   1190              6        6    Weekend
1                D 2023-01-02   3300             82        0    Weekday
2                A 2023-01-03   1980             69        1    Weekday
3                C 2023-01-04   3975             47        2    Weekday
4                C 2023-01-05   3006             25        3    Weekday

In [5]:
# 3. 매출 데이터를 이용해 매출 비율(전체 매출에서 해당 상품의 비율)을 계산하여 새로운 컬럼에 추가하세요.
total_sales = df['Sales'].sum()
df['Sales_Ratio'] = df['Sales'] / total_sales
df[['Product_Category', 'Sales', 'Sales_Ratio']].head()

  Product_Category  Sales  Sales_Ratio
0                C   1190     0.000786
1                D   3300     0.002179
2                A   1980     0.001308
3                C   3975     0.002625
4                C   3006     0.001985

In [6]:
df.head(3)

,Product_Category,Date,Sales,Quantity_Sold,weekday,Is_Weekend,Sales_Ratio
0,C,2023-01-01,1190,6,6,Weekend,0.000786
1,D,2023-01-02,3300,82,0,Weekday,0.002179
2,A,2023-01-03,1980,69,1,Weekday,0.001308

In [8]:
# 4. pivot_table을 사용하여 각 상품 카테고리와 주중/주말별 매출 합계를 구하세요.
pivot_table_sales = pd.pivot_table(df, values='Sales', index='Product_Category', columns='Is_Weekend', aggfunc='sum').reset_index
# pivot_table_sales.columns.name = None
pivot_table_sales

<bound method DataFrame.reset_index of Is_Weekend        Weekday  Weekend
Product_Category
A                  261619   102174
B                  219615   103636
C                  307936    72675
D                  306691   139785>

In [ ]:
##### #####

In [ ]:
# 5. 최종 분석 결과를 시각화하여 간단한 인사이트를 도출하세요.
import matplotlib.pyplot as plt
pivot_table_sales.plot(kind='bar', x='Product_Category', stacked=True)
plt.title('Sales by Category and Weekend/Weekday')
plt.show()

In [ ]:
##### ####